.mailgunResult {}
.mailgunLoadingIcon {}
.mailgunSuccessIcon {color:forestgreen;font-size:22px}
.mailgunSuggestion {}
.mailgunQuestionIcon {color:orange;font-size:22px}
.mailgunErrorIcon {color:red;font-size:22px}
.mailgunError {color:red}